<div class="container mt-3">
  <h1 id="pagetitle">{{ pageTitle }}</h1>

  <!-- Button trigger modal -->
  <button type="button" (click)="openModal()" class="btn btn-primary" data-toggle="modal" data-target="#modalRegister">
    Nuevo Registro
  </button>

  <!-- Modal register -->
  <div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="modalRegisterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
        </div>
        <div class="modal-body">
          
          <form [formGroup]="formulario" action="/registrar" method="post">

            <label for="tipodocumento">Tipo de documento</label>
            <select id="tipodocumento" name="tipodocumento" formControlName="tipodocumento">
              <option value="" disabled selected>-- seleccione --</option>
              <option value="DNI">DNI</option>
              <option value="ID">ID</option>
            </select>
            <br>

            <label for="ndocumento">Nº Documento</label>
            <input type="text" id="ndocumento" name="ndocumento" formControlName="ndocumento" required>
            <br>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
            <br>

            <label for="sexo">Sexo</label>
            <select id="sexo" name="sexo" formControlName="sexo">
              <option value="" disabled selected>-- seleccione --</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
            <br>

            <label for="departamento">Departamento</label>
            <select id="departamento" (change)="onDepartamentoChange($event)" name="departamento" formControlName="departamento">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombreDepartamento}}</option>
            </select>
            <br>

            <label for="provincia">Provincia</label>
            <select id="provincia" (change)="onProvinciaChange($event)" name="provincia" formControlName="provincia">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.nombreProvincia}}</option>
            </select>
            <br>

            <label for="distrito">Distrito</label>
            <select id="distrito" name="distrito" formControlName="distrito">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.nombreDistrito}}</option>
            </select>
            <br>

          </form>        
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModal()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="guardar()" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Update -->

  <div class="modal fade" id="modalUpdate" tabindex="-1" role="dialog" aria-labelledby="modalUpdateTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </div>
        <div class="modal-body">
          
          <form [formGroup]="formularioUpdate" action="/registrar" method="post">

            <label for="tipodocumento">Tipo de documento</label>
            <select id="tipodocumento" name="tipodocumento" formControlName="tipodocumento">
              <option value="" disabled selected>-- seleccione --</option>
              <option value="DNI">DNI</option>
              <option value="ID">ID</option>
            </select>
            <br>

            <label for="ndocumento">Nº Documento</label>
            <input type="text" id="ndocumento" name="ndocumento" formControlName="ndocumento" required>
            <br>

            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre" formControlName="nombre" required>
            <br>

            <label for="sexo">Sexo</label>
            <select id="sexo" name="sexo" formControlName="sexo">
              <option value="" disabled selected>-- seleccione --</option>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
            <br>

            <label for="departamento">Departamento</label>
            <select id="departamento" (change)="onDepartamentoChange($event)" name="departamento" formControlName="departamento">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nombreDepartamento}}</option>
            </select>
            <br>

            <label for="provincia">Provincia</label>
            <select id="provincia" (change)="onProvinciaChange($event)" name="provincia" formControlName="provincia">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let provincia of provincias" [value]="provincia.id">{{provincia.nombreProvincia}}</option>
            </select>
            <br>

            <label for="distrito">Distrito</label>
            <select id="distrito" name="distrito" formControlName="distrito">
              <option value="" disabled selected>-- seleccione --</option>
              <option *ngFor="let distrito of distritos" [value]="distrito.id">{{distrito.nombreDistrito}}</option>
            </select>
            <br>

          </form>        
        </div>
        <div class="modal-footer">
          <button type="button" (click)="closeModalUpdate()" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <button type="button" (click)="Actualizar()" class="btn btn-primary">Guardar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de Confirmación -->
  <div class="modal fade" id="confirmacionModal" tabindex="-1" role="dialog" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmacionModalLabel">Confirmación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ¿Estás seguro de que deseas eliminar este registro?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeDeleteModal()">Cancelar</button>
          <button type="button" class="btn btn-danger" (click)="eliminarRegistro()">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>Tipo documento</th>
        <th>Nº Documento</th>
        <th>Nombres</th>
        <th>Sexo</th>
        <th>Departamento</th>
        <th>Provincia</th>
        <th>Distrito</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor = "let usuario of trabajadores">
        <td>{{usuario.tipoDocumento}}</td>
        <td>{{usuario.numeroDocumento}}</td>
        <td>{{usuario.nombres}}</td>
        <td>{{usuario.sexo}}</td>
        <td>{{usuario.idDepartamento}}</td>
        <td>{{usuario.idProvincia}}</td>
        <td>{{usuario.idDistrito}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openDeleteModal(usuario.id)">Eliminar</button>
          <button type="button" class="btn btn-warning" (click)="openModalUpdate(usuario)" data-toggle="modal" data-target="#modalUpdate">Editar</button>
        </td>
      </tr> -->
      <tr *ngFor = "let usuario of trabajadoresDto">
        <td>{{usuario.tipoDocumento}}</td>
        <td>{{usuario.numeroDocumento}}</td>
        <td>{{usuario.nombres}}</td>
        <td>{{usuario.sexo}}</td>
        <td>{{usuario.departamento}}</td>
        <td>{{usuario.provincia}}</td>
        <td>{{usuario.distrito}}</td>
        <td>
          <button type="button" class="btn btn-danger" (click)="openDeleteModal(usuario.id)">Eliminar</button>
          <button type="button" class="btn btn-warning" (click)="openModalUpdate(usuario)" data-toggle="modal" data-target="#modalUpdate">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
